<b>Partlist exported from /Users/mmc/code/automatium/rpi-device/v2/rp2m_power.sch at 1/24/19 8:38 AM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>PROD_ID</b></td><td><b>SF_SKU</b></td><td><b>VALUE</b></td></tr>
<tr><td>C1</td><td>22UF-1210-16V-20%</td><td>22UF-1210-16V-20%</td><td>1210</td><td>22µF ceramic capacitors</td><td></td><td></td><td></td></tr>
<tr><td>C2</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>C3</td><td>22UF-1210-16V-20%</td><td>22UF-1210-16V-20%</td><td>1210</td><td>22µF ceramic capacitors</td><td></td><td></td><td></td></tr>
<tr><td>C4</td><td>22UF-1210-16V-20%</td><td>22UF-1210-16V-20%</td><td>1210</td><td>22µF ceramic capacitors</td><td></td><td></td><td></td></tr>
<tr><td>C5</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>C6</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>C18</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>C25</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>FB1</td><td></td><td>MICROBUILDER_FERRITE0805</td><td>MICROBUILDER_0805</td><td>Ferrite Bead</td><td></td><td></td><td></td></tr>
<tr><td>FB2</td><td></td><td>MICROBUILDER_FERRITE0805</td><td>MICROBUILDER_0805</td><td>Ferrite Bead</td><td></td><td></td><td></td></tr>
<tr><td>J1</td><td></td><td>CONN_025MM</td><td>SCREWTERMINAL-5MM-2</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td>PRT-08432</td><td></td></tr>
<tr><td>J2</td><td></td><td>CONN_025MM</td><td>SCREWTERMINAL-5MM-2</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td>PRT-08432</td><td></td></tr>
<tr><td>J3</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td><td></td></tr>
<tr><td>J4</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td><td></td></tr>
<tr><td>J5</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td><td></td></tr>
<tr><td>J6</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td><td></td></tr>
<tr><td>R1</td><td>0.1 Ohms</td><td>MICROBUILDER_RESISTOR2512</td><td>MICROBUILDER_2512</td><td>Resistors</td><td></td><td></td><td></td></tr>
<tr><td>R2</td><td>0.1 Ohms</td><td>MICROBUILDER_RESISTOR2512</td><td>MICROBUILDER_2512</td><td>Resistors</td><td></td><td></td><td></td></tr>
<tr><td>R3</td><td>10M</td><td>10MOHM-0603-1/10W-5%</td><td>0603</td><td>RES-09327</td><td>RES-08283</td><td></td><td>10M</td></tr>
<tr><td>R4</td><td>1M</td><td>1MOHM-0603-1/4W-5%</td><td>0603</td><td>1MΩ resistor</td><td>RES-07868</td><td></td><td>1M</td></tr>
<tr><td>R5</td><td>0.1 Ohms</td><td>MICROBUILDER_RESISTOR2512</td><td>MICROBUILDER_2512</td><td>Resistors</td><td></td><td></td><td></td></tr>
<tr><td>R20</td><td>10k</td><td>10KOHM-0603-1/10W-1%</td><td>0603</td><td>10kΩ resistor</td><td>RES-00824</td><td></td><td>10k</td></tr>
<tr><td>R21</td><td>10k</td><td>10KOHM-0603-1/10W-1%</td><td>0603</td><td>10kΩ resistor</td><td>RES-00824</td><td></td><td>10k</td></tr>
<tr><td>U1</td><td></td><td>MICROBUILDER_INA219</td><td>MICROBUILDER_SOT23-8</td><td>INA219 - I2C Current/Power Monitor</td><td></td><td></td><td></td></tr>
<tr><td>U2</td><td></td><td>MICROBUILDER_INA219</td><td>MICROBUILDER_SOT23-8</td><td>INA219 - I2C Current/Power Monitor</td><td></td><td></td><td></td></tr>
<tr><td>U5</td><td></td><td>MICROBUILDER_INA219</td><td>MICROBUILDER_SOT23-8</td><td>INA219 - I2C Current/Power Monitor</td><td></td><td></td><td></td></tr>
<tr><td>U11</td><td></td><td>MICROBUILDER_ADC_ADS1015</td><td>MICROBUILDER_MSOP10</td><td>ADS1015 - 12-bit 4-Channel I2C ADC with Internal PGA</td><td></td><td></td><td></td></tr>
</table>
