<b>Partlist exported from /Users/mmc/code/automatium/rpi-device/v2/rpi2m_rtc.sch at 1/21/19 11:06 AM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>PROD_ID</b></td><td><b>SF_SKU</b></td><td><b>VALUE</b></td></tr>
<tr><td>C14</td><td>SPARKFUN-CAPACITORS_.22F-SUPERCAP</td><td>SPARKFUN-CAPACITORS_.22F-SUPERCAP</td><td>SPARKFUN-CAPACITORS_DSK-RADIAL-6.8MM</td><td>ELNA DSK-621 - 220mF Electric Double Layer Capacitor (EDLC/SuperCapacitor)</td><td>CAP-13907</td><td></td><td></td></tr>
<tr><td>C15</td><td>47pF</td><td>47PF-0603-50V-5%</td><td>0603</td><td>47pF ceramic capacitors</td><td>CAP-08913</td><td></td><td>47pF</td></tr>
<tr><td>C16</td><td>10nF</td><td>10NF-0603-50V-10%</td><td>0603</td><td>0.01uF/10nF/10,000pF ceramic capacitors</td><td>CAP-00867</td><td></td><td>10nF</td></tr>
<tr><td>C17</td><td>10nF</td><td>10NF-0603-50V-10%</td><td>0603</td><td>0.01uF/10nF/10,000pF ceramic capacitors</td><td>CAP-00867</td><td></td><td>10nF</td></tr>
<tr><td>J1</td><td></td><td>CONN_04</td><td>1X04</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td>CONN-09696</td><td></td><td></td></tr>
<tr><td>J2</td><td></td><td>CONN_04</td><td>1X04</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td>CONN-09696</td><td></td><td></td></tr>
<tr><td>J3</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td><td></td></tr>
<tr><td>J4</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td><td></td></tr>
<tr><td>R13</td><td>1k</td><td>1KOHM-0603-1/10W-1%</td><td>0603</td><td>1kΩ resistor</td><td>RES-07856</td><td></td><td>1k</td></tr>
<tr><td>R14</td><td>10k</td><td>10KOHM-0603-1/10W-1%</td><td>0603</td><td>10kΩ resistor</td><td>RES-00824</td><td></td><td>10k</td></tr>
<tr><td>R15</td><td>10k</td><td>10KOHM-0603-1/10W-1%</td><td>0603</td><td>10kΩ resistor</td><td>RES-00824</td><td></td><td>10k</td></tr>
<tr><td>R16</td><td>10k</td><td>10KOHM-0603-1/10W-1%</td><td>0603</td><td>10kΩ resistor</td><td>RES-00824</td><td></td><td>10k</td></tr>
<tr><td>R17</td><td>10k</td><td>10KOHM-0603-1/10W-1%</td><td>0603</td><td>10kΩ resistor</td><td>RES-00824</td><td></td><td>10k</td></tr>
<tr><td>S1</td><td>MOMENTARY-SWITCH-SPST-SMD-12MM</td><td>MOMENTARY-SWITCH-SPST-SMD-12MM</td><td>TACTILE_SWITCH_SMD_12MM</td><td>Momentary Switch (Pushbutton) - SPST</td><td>SWCH-11967</td><td>COM-12993</td><td></td></tr>
<tr><td>U12</td><td>SPARKFUN-CLOCKS_RV-1805</td><td>SPARKFUN-CLOCKS_RV-1805</td><td>SPARKFUN-CLOCKS_RV-1805</td><td>Micro Crystal Switzerland - RV-1805-C3 - Extremely low power RTC module</td><td>IC-13900</td><td></td><td></td></tr>
</table>
